.container {
  max-width: 1000px;
  margin: 0 auto;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

mat-card {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

mat-card h1 {
  font-size: 48px;
  margin: 20px 0;
  color: #3f51b5;
}
